/*
 * @Author: GurjarsPro
 * @Date: 2019-03-10 12:32:49
 * @Last Modified by: krishna_gujjjar
 * @Last Modified time: 2019-04-11 20:30:10
 */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: "Asap", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

:root {
    --invalid: #FF9149;
    --valid: #00d88c;
    --primary: #21a32f;
    --secondary: #727f86;
    --success: #ff0062;
    --warning: #efc958;
    --white: #fff;
    --light: #d4fad8;
    --dark: #344e5c;
    --Fade: #7ac882;
    --primaryFade: #21a32f80;
    --lightFade: #eceef280;
    --shadow: #00000030;

    --borderPill: 25px;
    --borderCircle: 50%;
    --borderRadius: 0.25rem;
}

::selection {
    background: var(--dark);
    color: var(--white);
}

.stroke-none {
    stroke: none;
}

.fill-none {
    fill: none;
}

.fill-danger {
    fill: var(--danger);
}

.fill-facebook {
    fill: #625fff;
}

.fill-twitter {
    fill: #32acf3;
}

.fill-github {
    fill: #8c8da5;
}

.fill-slack {
    fill: var(--primary);
}

.fill-light {
    fill: #eceef2;
}

.stroke-dark {
    stroke: #3a4161;
}

.stroke-light {
    stroke: #eceef2;
}

.text-light {
    color: var(--light) !important;
}

.centered {
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 9999999;
    transform: scale(0.8);
}

.text-primary {
    color: var(--primary) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.ajaxLoader {
    border-top: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
    /* border-right: 2px solid var(--primary); */
    border-radius: 50%;
    width: 3%;
    height: 3%;
    padding: 3%;
    animation: play 1s linear infinite;
    margin: 3% auto;
}

/* Typeahead Ends */
.form-group.issue .help-block,
.form-group.issue .help-inline {
    font-weight: 500;
    color: var(--invalid);
}

.form-group.issue input,
.form-group.issue select,
.form-group.issue textarea {
    color: var(--invalid);
    border-color: var(--invalid);
}

.form-group.issue input:focus,
.form-group.issue select:focus,
.form-group.issue textarea:focus {
    border-color: var(--success);
    -webkit-box-shadow: 0 0 6px var(--successS);
    box-shadow: 0 0 6px var(--successS);
}

.form-group.issue .input-prepend .add-on,
.form-group.issue .input-append .add-on {
    color: var(--invalid);
    background-color: var(--successS);
    border-color: var(--invalid);
}

.form-group.error .help-block,
.form-group.error .help-inline {
    font-weight: 500;
    color: var(--success);
}

.form-group.error input,
.form-group.error select,
.form-group.error textarea,
.form-group.error ul {
    color: var(--success);
    border-color: var(--success);
}

.form-group.error input:focus,
.form-group.error select:focus,
.form-group.error textarea:focus {
    border-color: var(--success);
    -webkit-box-shadow: 0 0 6px var(--successS);
    box-shadow: 0 0 6px var(--successS);
}

.form-group.error .input-prepend .add-on,
.form-group.error .input-append .add-on {
    color: var(--success);
    background-color: var(--successS);
    border-color: var(--success);
}

.form-group.validate .help-block,
.form-group.validate .help-inline {
    font-weight: 500;
    color: var(--valid);
}

.form-group.validate input,
.form-group.validate select,
.form-group.validate textarea {
    color: var(--valid);
    border-color: var(--valid);
}

.form-group.validate input:focus,
.form-group.validate select:focus,
.form-group.validate textarea:focus {
    border-color: var(--valid) !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group.validate .input-prepend .add-on,
.form-group.validate .input-append .add-on {
    color: var(--valid);
    background-color: var(--valid);
    border-color: var(--valid);
}

.form-group .help-block ul {
    padding-left: 1.5rem;
    font-weight: 500;
}

.modal {
    top: 25% !important;
}

@keyframes play {
    to {
        transform: rotate(360deg);
    }
}