/*
 * @Author: GurjarsPro
 * @Date: 2019-03-10 12:32:49
 * @Last Modified by: krishna_gujjjar
 * @Last Modified time: 2019-03-29 19:52:53
 */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: "Asap", sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

:root {
    --primary: #21a32f;
    --secondary: #727f86;
    --success: #ff0062;
    --warning: #efc958;
    --white: #fff;
    --light: #d4fad8;
    --dark: #344e5c;
    --Fade: #7ac882;
    --primaryFade: #21a32f80;
    --lightFade: #eceef280;
    --shadow: #00000030;

    --borderPill: 25px;
    --borderCircle: 50%;
    --borderRadius: 0.25rem;
}

::selection {
    background: var(--dark);
    color: var(--white);
}

.stroke-none {
    stroke: none;
}

.fill-none {
    fill: none;
}

.fill-danger {
    fill: var(--danger);
}

.fill-facebook {
    fill: #625fff;
}

.fill-twitter {
    fill: #32acf3;
}

.fill-github {
    fill: #8c8da5;
}

.fill-slack {
    fill: var(--primary);
}

.fill-light {
    fill: #eceef2;
}

.stroke-dark {
    stroke: #3a4161;
}

.stroke-light {
    stroke: #eceef2;
}

.text-light {
    color: var(--light) !important;
}

.centered {
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 9999999;
    transform: scale(0.8);
}

.text-primary {
    color: var(--primary) !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}